/* transicion y transformacion */

h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bolder;
    span {
        color: red;
        transition: 2s;
        transform: scale(1,1.3);
    }
}

h1 span:hover {
    color: white;
    transition: 4s;
    transform: scale(1.3,0);
}