@mixin h2-fijo ($fuente, $flexibilidad, $justificado, $margen,$transicion) {
    font-family: $fuente;
    display: $flexibilidad;
    justify-content: $justificado;
    margin: $margen;
    transition: $transicion;
}

/* transicion */

h2 {
    @include h2-fijo($fuente_1, flex, center, 2rem,2s);
}

h2:hover {
    transition: 2s;
    color: red;
}